@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --yellow: #f3ca20;
    --dark-color: #cca300;
    --black: #000;
    --border: 1.6px solid rgba(0, 0, 0, 0.1);
    --border-hover: 1.6px solid var(--black);
    --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    transition: width none;
}

#backgroundOverlay {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 4;
}

#backgroundOverlay.active {
    display: block;
}

.header {
    margin-bottom: 90px;
}

.header .header-1 {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 24px 8%;
    align-items: center;
    z-index: 10;
}

.header .header-1 .logo {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: var(--yellow);
}

.header .header-1 .search-form {
    width: 500px;
    height: 50px;
    border: var(--border);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #fff;
    position: fixed;
    top: 100px;
    right: 2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
    z-index: 9;
    display: none;
}

.header .header-1 .search-form.active {
    display: flex;
}

.header .header-1 .search-form input {
    width: 100%;
    height: 100%;
    padding: 19.2px;
    color: var(--black);
}

.header .header-1 .search-form label {
    padding-right: 19.2px;
    font-size: 21px;
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--yellow);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--yellow);
}

.header .header-2 {
    background: var(--black);
    position: fixed;
    top: 98px;
    left: 0;
    right: 0;
    display: none;
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .header-2 .custom-navbar {
    text-align: center;
}

.header .header-2 .custom-navbar a {
    color: var(--yellow);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

.header .header-2 .custom-navbar a:hover {
    background: var(--yellow);
    color: var(--black);
}

.bottom-navbar {
    text-align: center;
    background: var(--black);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
}

.bottom-navbar a {
    font-size: 26px;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.bottom-navbar a:hover {
    background-color: var(--yellow);
}

.dropdown {
    background: var(--black);
    position: fixed;
    top: 77px;
    width: 100%;
    z-index: 3000;
    display: none;
}

.dropdown.active {
    display: block;
}

.dropdown a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--yellow);
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #f3c92028;
    font-weight: 500;
    font-size: 12px;
}

.dropdown a:last-child {
    border-bottom: none;
}

.dropdown a:hover {
    background: var(--yellow);
    color: var(--black);
}

section {
    padding: 20px 6%;
    margin-bottom: 40px;
}

.banner {
    background: url(../images/bg-showcase.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .row .offer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.banner .row .offer .content h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
}

.banner .row .offer .content p {
    font-weight: 600;
    font-size: 14px;
}

.banner .row .offer .content .custom-btn {
    background: var(--yellow);
    border-color: var(--yellow);
    color: var(--black);
    font-weight: 700;
}

.banner .row .offer .content .custom-btn:hover {
    background: var(--black);
    border-color: var(--black);
    color: var(--yellow);
    font-weight: 700;
}

.banner .row .bike-image .bikes-slider {
    height: 100%;
    width: 100%;
}

.banner .row .bike-image .bikes-slider .wrapper a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .row .bike-image .bikes-slider .wrapper a:hover img {
    transform: scale(.95);
}

.free-shipping h1 {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

.free-shipping p {
    text-align: center;
    font-weight: 600;
}

.bike-stock h1 {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.bike-stock .bike-stock-images {
    padding: 0px 6%;
}

.bike-stock .bike-stock-images .bike-stock-cont {
    position: relative;
    margin-bottom: 20px;
}

.bike-stock .bike-stock-images .bike-stock-cont:last-child {
    margin-bottom: 0;
}

.bike-stock .bike-stock-images .bike-stock-cont a img {
    width: 100%;
}

.bike-stock .bike-stock-images .bike-stock-cont a:hover img {
    transform: scale(.95);
}

.bike-stock .bike-stock-images .bike-stock-cont .bike-name {
    background: #fff;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5%;
    text-align: center;
    white-space: nowrap;
}

.frameset {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.frameset img {
    width: 100%;
}

.frameset .frameset-content {
    background: var(--yellow);
    margin: 0 4%;
    margin-top: -5%;
    position: relative;
    padding: 10px;
    text-align: center;
}

.frameset .frameset-content:hover {
    transform: scale(0.95);
}

.frameset .frameset-content h4 {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.frameset .frameset-content h2 {
    font-weight: 800;
}

.frameset .frameset-content p {
    font-weight: 600;
}

.frameset .frameset-content .custom-btn {
    background: var(--black);
    border-color: var(--black);
    color: var(--yellow);
    font-weight: 700;
}

.frameset .frameset-content .custom-btn:hover {
    background: var(--dark-color);
    border-color: var(--dark-color);
    color: var(--black);
}

.gift-card {
    display: block;
}

.gift-card .row .gift-card-img img {
    width: 100%;
    margin-bottom: 20px;
}

.gift-card .row .gift-card-img img:hover {
    transform: scale(.95);
}

.gift-card .row .gift-card-content {
    text-align: center;
}

.gift-card .row .gift-card-content h5 {
    font-weight: 500;
    text-transform: uppercase;
}

.gift-card .row .gift-card-content h2 {
    font-weight: 800;
    text-transform: uppercase;
}

.gift-card .row .gift-card-content h3 {
    font-weight: 600;
}

.gift-card .row .gift-card-content .custom-btn {
    margin-top: 10px;
    background: var(--yellow);
    border-color: var(--yellow);
    color: var(--black);
    font-weight: 700;
}

.gift-card .row .gift-card-content .custom-btn:hover {
    background: var(--black);
    border-color: var(--black);
    color: var(--yellow);
}

/* MEDIA QUERIES */

/* SM */
@media (min-width: 370px) {
    .header .header-1 .logo {
        font-size: 28px;
    }

    .header .header-1 .icons div,
    .header .header-1 .icons a {
        font-size: 22px;
        margin-left: 10px;
    }

    .header .header-1 {
        padding: 24px 4%;
    }

    .dropdown {
        top: 89px;
    }

    .dropdown a {
        font-size: 18px;
    }

    .banner .row .offer .content h1 {
        font-size: 36px;
    }

    .banner .row .offer .content p {
        font-size: 16px;
    }

    .bike-stock .bike-stock-images .bike-stock-cont .bike-name {
        font-size: 20px;
    }
}

/* MD */
@media (min-width: 768px) {
    .bike-stock .bike-stock-images .bike-stock-cont .bike-name {
        font-size: 25px;
    }

    .gift-card {
        display: block;
    }

    .gift-card .row .gift-card-img {
        padding: 0 40px;
    }
    
    .gift-card .row .gift-card-img img {
        height: 100%;
        margin-bottom: unset;
    }
    
    .gift-card .row .gift-card-img img:hover {
        transform: scale(.95);
    }
    
    .gift-card .row .gift-card-content {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px 0;
    }
    
    .gift-card .row .gift-card-content h5 {
        font-weight: 500;
        text-transform: uppercase;
    }
    
    .gift-card .row .gift-card-content h2 {
        font-weight: 800;
        text-transform: uppercase;
    }
    
    .gift-card .row .gift-card-content h3 {
        font-weight: 600;
    }
    
    .gift-card .row .gift-card-content .custom-btn {
        margin-top: 10px;
        background: var(--yellow);
        border-color: var(--yellow);
        color: var(--black);
        font-weight: 700;
    }
    
    .gift-card .row .gift-card-content .custom-btn:hover {
        background: var(--black);
        border-color: var(--black);
        color: var(--yellow);
    }
}

/* LG */
@media (min-width: 1030px) {
    .header {
        margin-bottom: 45px;
    }

    .header .header-1 {
        padding: 24px 7%;
        position: static;
    }

    .header .header-1 .search-form {
        position: static;
        width: 500px;
        height: 50px;
        border: var(--border);
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        background: #fff;
        box-shadow: none;
    }

    section {
        padding: 20px 10%;
    }

    #search-btn {
        display: none;
    }

    #dropdown-icon {
        display: none;
    }

    .header .header-2 {
        display: block;
    }

    .bottom-navbar {
        display: none;
    }

    .banner .row .offer .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding-right: 20px;
    }

    .banner .row .offer .content h1 {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 36px;
    }

    .banner .row .offer .content p {
        font-weight: 600;
        font-size: 16px;
    }

    .banner .row .offer .content .custom-btn {
        background: var(--yellow);
        border-color: var(--yellow);
        color: var(--black);
        font-weight: 700;
    }

    .banner .row .offer .content .custom-btn:hover {
        background: var(--black);
        border-color: var(--black);
        color: var(--yellow);
        font-weight: 700;
    }

    .banner .row .bike-image .bikes-slider {
        height: 100%;
        width: 100%;
    }

    .banner .row .bike-image .bikes-slider .wrapper a img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .bike-stock .bike-stock-images .bike-stock-cont {
        margin-bottom: 0px;
    }

    .bike-stock .bike-stock-images .bike-stock-cont .bike-name {
        font-size: 20px;
    }

    .frameset {
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        position: relative;
    }
    
    .frameset .frameset-image img {
        width: 100%;
    }
    
    .frameset .frameset-content {
        background: var(--yellow);
        margin: unset;
        margin-top: unset;
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 20px;
        border-radius: 0px 40px 0px 40px;
        text-align: left;
        width: 30%;
    }
}

/* XL */
@media (min-width: 1200px) {}

/* XXL */
@media (min-width: 1400px) {}