@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --yellow: #f3ca20;
    --dark-color: #cca300;
    --black: #000;
    --border: 1.6px solid rgba(0, 0, 0, 0.1);
    --border-hover: 1.6px solid var(--black);
    --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    transition: width none;
}

.site {
    overflow-x: hidden;
    /* Unnecessary IMHO, uncomment next line to force hidden behavior */
    overflow-x: hidden !important;
    /* Additional tunning proposed by the community */
    position: relative;
    width: 100%;
}

/* html::-webkit-scrollbar {
    display: none;
} */

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.header .header-1 {
    background: #fff;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 24px 9%;
    align-items: center;
}

.header .header-1 .logo {
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
    color: var(--yellow);
}

.header .header-1 .logo:hover {
    color: var(--black);
}

.header .header-1 .search-form {
    width: 500px;
    height: 50px;
    border: var(--border);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #fff;
}

.header .header-1 .search-form input {
    width: 100%;
    height: 100%;
    padding: 19.2px;
    color: var(--black);
}

.header .header-1 .search-form label {
    padding-right: 19.2px;
    font-size: 21px;
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--yellow);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 22px;
    text-decoration: none;
    margin-left: 10px;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--yellow);
}

#search-btn {
    display: none;
}

.header .header-2 {
    background: var(--black);
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .header-2 .custom-navbar {
    text-align: center;
}

.header .header-2 .custom-navbar a {
    color: var(--yellow);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

.header .header-2 .custom-navbar a:hover {
    background: var(--yellow);
    color: var(--black);
}

.bottom-navbar {
    text-align: center;
    background: var(--black);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 26px;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.bottom-navbar a:hover {
    background-color: var(--yellow);
}

.section-promo {
    background-image: url("../images/bg-showcase.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.section-promo .offer {
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section-promo .offer .showcase-text {
    text-align: left;
    padding: 70px;
}

.section-promo .offer h1 {
    color: #000;
    font-size: 48px;
    font-weight: 900;
}

.section-promo .offer p {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.section-promo .row .offer-images .swiper a img {
    margin-top: 50px;
    margin-left: 50px;
    width: 85%;
}

.section-promo .row .offer-images .swiper a:hover img {
    transform: scale(1.1);
}

.section-promo .row .offer-images .swiper .wrapper {
    display: flex;
    justify-content: space-between;
}

.section-2 {
    margin: 80px 0;
}

.section-2 .row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-2 .row .h1-1 {
    font-weight: 700;
    font-size: 34px;
    padding: 0 250px;
}

.section-2 .row p {
    font-weight: 500;
    font-size: 16px;
    padding: 0 250px;
}

.section-2 .row-2 {
    padding: 0 80px;
}

.section-2 .row-2 .h1-2 {
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 34px;
}

.section-2 .row-2 .bike-stock {
    padding: 0 13px;
    position: relative;
}

.section-2 .row-2 .bike-stock a img {
    width: 100%;
}

.section-2 .row-2 .bike-stock a:hover img {
    transform: scale(1.1);
}

.section-2 .row-2 .bike-stock p {
    background-color: #fff;
    position: absolute;
    width: 160px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
}

.custom-btn {
    font-weight: 900;
    background-color: var(--yellow) !important;
    color: var(--black) !important;
    border-color: var(--yellow) !important;
    border: none;
    font-size: 18px;
}

.custom-btn:hover {
    background-color: var(--dark-color) !important;
    color: #000;
    border-color: var(--dark-color) !important;
}

.section-3 {
    background-image: url("../images/section-3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 100px;
}

.frameset-wrapper {
    display: flex;
    background: var(--yellow);
    width: 420px;
    height: 225px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 0px 40px 0px 40px;
    padding: 20px;
}

.frameset-wrapper .frameset-text {
    width: 100%;
    height: 100%;
}

.frameset-wrapper .frameset-text h4 {
    font-size: 17px;
    font-weight: 800;
}

.frameset-wrapper .frameset-text h1 {
    font-weight: 900;
    font-size: 26px;
}

.frameset-wrapper .frameset-text p {
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
}

.frameset-custom-btn {
    font-weight: 900;
    background-color: var(--black) !important;
    color: var(--yellow) !important;
    border-color: var(--black) !important;
    border: none;
    font-size: 18px;
}

.frameset-custom-btn:hover {
    background-color: var(--dark-color) !important;
    color: var(--black) !important;
    border-color: var(--dark-color) !important;
}

.frameset-text-lg {
    position: absolute;
    bottom: -160px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    padding: 10px 20px;
    background: var(--yellow);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

.frameset-text-lg h4 {
    font-size: 17px;
    font-weight: 800;
}

.frameset-text-lg h1 {
    font-weight: 900;
    font-size: 26px;
}

.frameset-text-lg p {
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
}

.section-4 {
    margin-bottom: 80px;
}

.section-4 .row-4 .sec-4-left {
    display: flex; 
    justify-content: center;
}

.section-4 .row-4 .sec-4-left a img {
    width: 400px;
}

.section-4 .row-4 .sec-4-right {
    display: flex; 
    align-items: center;
}

.section-4 .row-4 .sec-4-left .sec-4-card-img:hover img {
    transform: scale(1.1);
}

.section-4 .row-4 .sec-4-right .card-text h4 {
    font-weight: 500;
    font-size: 16px;
}

.section-4 .row-4 .sec-4-right .card-text h1 {
    font-weight: 900;
    font-size: 27px;
}

.section-4 .row-4 .sec-4-right .card-text h2 {
    font-weight: 600;
    font-size: 20px;
}

.section-4 .row-4 .sec-4-right .card-text .btn {
    background: var(--yellow) !important;
    border-color: var(--yellow) !important;
    color: var(--black) !important;
    font-weight: 700;
}

.section-4 .row-4 .sec-4-right .card-text .btn:hover {
    background: var(--black) !important;
    color: var(--yellow) !important;
    border-color: var(--black) !important;
}


/* media queries */
/* XXL */
@media (max-width: 1400px) {
    .section-promo {
        height: 400px;
    }

    .section-promo .offer {
        height: 400px;
    }

    .section-promo .row .offer-images .swiper a img {
        margin-top: 40px;
    }

    .section-2 .stock-container .row {
        margin: 0 150px;
    }
}

/* XL */
@media (max-width: 1200px) {
    .header .header-1 {
        padding: 20px 5%;
    }

    .section-promo {
        height: 300px;
    }

    .section-promo .offer {
        height: 300px;
    }

    .section-promo .row .offer-images .swiper a img {
        margin-top: 20px;
    }

    .section-promo .offer .showcase-text {
        padding: 45px;
    }

    .section-promo .offer h1 {
        font-size: 42px;
    }
    
    .section-promo .offer p {
        font-size: 14px;
    }

    .section-2 .row .h1-1 {
        padding: 0 180px;
    }
    
    .section-2 .row p {
        padding: 0 180px;
    }
    
    .section-2 .row-2 {
        padding: 0 50px;
    }
    
    .section-2 .row-2 .bike-stock {
        padding: 0 10.5px;
    }

    .section-3 {
        height: 400px;
    }
}

/* LG */
@media (max-width: 992px) {
    html {
        overflow: hidden;
        position: fixed;
        height: 100%;
    }

    body {
        padding-bottom: 8rem;
    }

    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active {
        top: 115%;
    }

    #search-btn {
        display: inline-block;
    }

    .header .header-2 {
        display: none;
    }

    .bottom-navbar {
        display: block;
    }

    .section-promo {
        height: 250px;
    }

    .section-promo .offer {
        height: 250px;
    }

    .section-promo .row .offer-images {
        display: none;
    }

    .section-promo .row .offer {
        width: 100%;
    }

    .section-promo .row .offer .showcase-text {
        text-align: center;
        padding: 60px;
    }

    .section-2 .row .h1-1 {
        padding: 0 50px;
    }
    
    .section-2 .row p {
        padding: 0 50px;
    }
    
    .section-2 .row-2 {
        padding: 0 100px;
    }
    
    .section-2 .row-2 .bike-stock {
        margin: 13px 0;
        padding: 0 10.5px;
    }

    .section-3 {
        height: 340px;
    }

    .frameset-wrapper {
        display: none;
    }

    .frameset-text-lg {
        display: block;
    }

    .section-4 {
        padding-top: 140px;
    }
    
    .section-4 .row-4 .sec-4-left {
        display: flex; 
        justify-content: center;
    }
    
    .section-4 .row-4 .sec-4-right {
        padding-top: 50px;
        display: flex; 
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* MD */
@media (max-width: 768px) {
    html {
        scroll-padding-top: 0;
    }

    .section-2 .row-2 {
        padding: 0 100px;
    }
    
    .section-2 .row-2 .bike-stock {
        margin: 11px 0;
        padding: 0 10.5px;
    }

    .bottom-navbar {
        display: block;
    }

    .section-3 {
        height: 250px;
    }
}

/* SM */
@media (max-width: 576px) {
    body {
        padding-bottom: 10rem;
    }

    .bottom-navbar {
        display: block;
    }

    .section-promo {
        height: 400px;
    }

    .section-promo .offer {
        height: 400px;
    }

    .section-2 .row-2 {
        padding: 0 30px;
    }
    
    .section-2 .row-2 .bike-stock {
        margin: 11px 0;
        padding: 0 10.5px;
    }

    .section-3 {
        height: 180px;
    }

    .frameset-text-lg {
        bottom: -190px;
    }

    .section-4 .row-4 .sec-4-left a img {
        width: 350px;
    }

    .section-4 .row-4 .sec-4-left {
        display: flex; 
        justify-content: center;
        padding: 0 20px;
    }
}